body {
    font-family: sans-serif;
}

h2{
    
    color: navy;
}
body {
    font-family: sans-serif;
}

h1{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(168, 229, 236) ;
    color: navy;
}
body {
    font-family: sans-serif;
}
nav {
  background-color: #5e9c31;
}

nav a {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
